input[type=text]
  flex-basis: 75%
  padding: 12px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  resize: vertical

label
  flex-basis: 25%
  margin: auto 0
  padding: 0 12px
  font-size: 14px

#submit
  font-size: 16px
  margin: 12px
  padding: 6px 18px

.container
  display: flex
  flex-wrap: wrap
  border-radius: 5px
  padding: 20px 0

  .advanced
    display: none
    padding: 0 20px 20px 20px
    background-color: #eee
    border-radius: 0px

%item
  display: flex
  flex: 0 0 50%
  margin: 6px 0

.item
  @extend %item

.full-line
  @extend %item
  flex: 0 0 100%
  justify-content: space-between

.separator
  flex: 0 0 100%

input[type="radio"]
  display: none

input[type="radio"]:checked + label
  border: solid 2px green

select
  font-size: 15px
  padding: 6px

label.selection
  font-size: 16px
  border: solid 2px grey
  border-radius: 5px
  padding: 6px
  margin: 0 6px
  text-align: center

  &:hover
    cursor: pointer

pre
  white-space: pre-wrap

.collapsible
  background-color: #eee
  color: #444
  cursor: pointer
  padding: 18px
  width: 100%
  border: none
  text-align: left
  outline: none
  font-size: 15px
  margin: 12px 0 0px 0

  .active, &:hover
    background-color: #ccc

.collapsible:after
  content: '\02795' // +
  font-size: 13px
  color: white
  float: right
  margin-left: 5px

.active:after
  content: "\2796" // -

@media screen and (max-width: 600px)
  .item
    flex-basis: 100%

// @media screen and (min-width: 1200px)
//   .item
//     flex-basis: 33%

.github-fork-ribbon::before
  background-color: #333 !important
